deps/
.bender/
Bender.lock
/working_dir/
.vscode/
__pycache__

data.h

# Modelsim Files
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

.cache
build/
.Xil/
.venv/
occamy_xilinx/
component.xml
./component.xml
*.backup.log
*.log
*.jou
*.log
*.zip
*.str

compile_commands.json
target/tapeout/tcl/*
